<!DOCTYPE html>
<html lang="en">
 

<body>
   <div class="content-wrapper">

      <section class="dashboard-top-sec">

         <div class="container-fluid">


            <div class="row profile-content">

               <div class="col-12 col-md-12 col-lg-12">

                

                  <div class="row">
                     <div class="col-md-12">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height  mb-0">
                           <div class="iq-card-header text-center">
                              <div class="iq-header-title">
                                 <h4 class="card-title mb-0 ">Home Image slideshow</h4>
                              </div>
                           </div>
                           <div class="iq-card-body ">

                              <div class="row">
                                 <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="edit-blog">

                                       <a href="#">
                                          <img src="../../static/img/bannerBog.png" class="card-img-top" alt="...">
                                       </a>

                                       <div class="dots-edit ">
                                          <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                class="bi bi-three-dots"></i></a>
                                          <div class="dropdown-menu" style="min-width: 5rem;">
                                             <div class="dp-main-menu">

                                                <a href="#" class="dropdown-item message-item mt-1">
                                                   <i class="bi bi-pen icon-pen-edit"></i>
                                                   <div class="note-info-desmis">
                                                      <div class="dropdown-edit-font">
                                                         <p class="note-name">Edit</p>

                                                      </div>

                                                   </div>
                                                </a>
                                             </div>
                                          </div>
                                       </div>

                                    </div>
                                    <div class=" text-center">
                                       <div class="image-number-display">
                                          1
                                       </div>
                                    </div>
                                 </div>

                                    
                                 <div class="col-md-4 col-sm-6 mb-3">
                                    <div class="edit-blog addSlideImage" id="test" ng-click="cl()">
                                      
                                       <input hidden="true" id="file" type="file" style="font-size: 10px;"/>
                                          <div class="iconAddSlideImage"  >
                                             
                                             <i class="bi bi-plus-circle-dotted" id="addImage"></i>
                                              
                                          </div>

                                    </div>
                                    
                                 </div>
      
                              </div>
                              

                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>

         </div>
      </section>

   </div>


   <script src="../../static/js/jscustom/UI-Js-Admin/cdn.jsdelivr.net_npm_bootstrap@5.3.1_dist_js_bootstrap.bundle.min.js"></script>
   <script src="../../static/js/jscustom/UI-Js-Admin/code.jquery.com_jquery-3.7.1.min.js"></script>
   <script src="../../static/js/jscustom/UI-Js-Admin/admin.js"></script>
 
</body>

</html>