<!DOCTYPE html>
<html lang="en">
<body>
      <!-- CONTENT START  -->
      <div class="content-wrapper">
         <section class="dashboard-top-sec">
            <div class="container-fluid">
               <div class="row profile-content">
               </div>
               <div class="col-12 col-md-12 col-lg-12">
            
                  <div class="row">
                     <div class="col-md-12">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height  mb-0">
                           <div class="iq-card-header text-center">
                              <div class="iq-header-title">
                                 <h4 class="card-title mb-0 ">Create Blog</h4>
                              </div>
                           </div>
                           <div class="iq-card-body ">
                              <ul class="list-inline p-0 mb-4">
                                 <li>
                                    <div class="row">
                                       <div class=" container col-10 ">
                                          <div class="mb-2">
                                             <label for="formGroupExampleInput" class="form-label mb-0">Title:</label>
                                             <input type="text" class="form-control" id="formGroupExampleInput">
                                          </div>
                                          <label for="formGroupExampleInput" class="form-label mb-0">Content:</label>
                                          <div class="form-floating mb-2 ">


                                             <textarea class="form-control" placeholder="here" id="floatingTextarea2"
                                                style="height: 100px"></textarea>
                                             <label for="floatingTextarea2">Description</label>
                                          </div>


                                       
                                          <div class="mb-2">
                                             <label for="images" class="drop-container " id="dropcontainer">
                                                <span class="drop-title">Drop files here</span>
                                                or
                                                <input type="file" id="images" accept="image/*" required>
                                             </label>
                                          </div>

                                          <div class="mt-4 " >
                                            
                                             <a href="#" type="button" class="form-control text-center btn btn-primary" > Create </a>
                                          </div>
                                       </div>
                                    
                                    </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!--  CONTENT END  -->
   </div>
</body>
</html>