<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="content-wrapper">
            <section>
                <div class="sm-chart-sec mt-5 mb-2">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 my-2">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Try
                                            Cap</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">4565</h2>
                                            <p class="text-white mb-0">Jan -
                                                March 2019</p>
                                        </div>
                                        <span
                                            class="float-right display-5 opacity-5 "><i
                                                class="fa-solid fa-users "></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Try
                                            Cap</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">4565</h2>
                                            <p class="text-white mb-0">Jan -
                                                March 2019</p>
                                        </div>
                                        <span
                                            class="float-right display-5 opacity-5"><i
                                                class="fa-solid fa-users"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Try
                                            Cap</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">4565</h2>
                                            <p class="text-white mb-0">Jan -
                                                March 2019</p>
                                        </div>
                                        <span
                                            class="float-right display-5 opacity-5"><i
                                                class="fa-solid fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 my-2">
                                <div class="card gradient-1">
                                    <div class="card-body">
                                        <h3 class="card-title text-white">Try
                                            Cap</h3>
                                        <div class="d-inline-block">
                                            <h2 class="text-white">4565</h2>
                                            <p class="text-white mb-0">Jan -
                                                March 2019</p>
                                        </div>
                                        <span
                                            class="float-right display-5 opacity-5"><i
                                                class="fa-solid fa-users"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dashboard-top-sec">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="bg-white top-chart-earn">
                                    <div class="row">
                                        <div class="col-sm-4 my-2 pe-0">
                                            <div class="last-month">
                                                <h5>Dashboard</h5>
                                                <p>Overview of Last Month</p>
                                                <div class="earn">
                                                    <h2>$30000.21</h2>
                                                    <p>view</p>
                                                </div>
                                                <a href
                                                    class="di-btn purple-gradient">Last
                                                    month</a>
                                            </div>
                                        </div>

                                        <div class="col-sm-8 my-2 ps-0">

                                            <!-- NAV TABS -->

                                            <div class="classic-tabs">

                                                <ul
                                                    class="nav nav-pills chart-header-tab mb-3"
                                                    id="pills-tab"
                                                    role="tablist">
                                                    <li class="nav-item">
                                                        <a href="#"
                                                            class="nav-link chart-nav  active"
                                                            id="pills-home-tab"
                                                            data-bs-toggle="pill"
                                                            data-bs-target="#pills-home"
                                                            type="button"
                                                            role="tab"
                                                            aria-controls="pills-home"
                                                            aria-selected="true">Home</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#"
                                                            class="nav-link chart-nav"
                                                            id="pills-month-tab"
                                                            data-bs-toggle="pill"
                                                            data-bs-target="#pills-month"
                                                            type="button"
                                                            role="tab"
                                                            aria-controls="pills-month"
                                                            aria-selected="false">month</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#"
                                                            class="nav-link chart-nav"
                                                            id="pills-year-tab"
                                                            data-bs-toggle="pill"
                                                            data-bs-target="#pills-year"
                                                            type="button"
                                                            role="tab"
                                                            aria-controls="pills-contact"
                                                            aria-selected="false">Contact</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content"
                                                    id="pills-tabContent">
                                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                                    aria-labelledby="pills-home-tab">
                                                    <canvas id="toolTip" aria-label="chart" height="200"
                                                        width="300"></canvas>
                                                </div>
                                                    <div class="tab-pane fade"
                                                        id="pills-month"
                                                        role="tabpanel"
                                                        aria-labelledby="pills-month-tab">Chart
                                                        2 </div>
                                                    <div class="tab-pane fade"
                                                        id="pills-year"
                                                        role="tabpanel"
                                                        aria-labelledby="pills-year-tab">Chart
                                                        3</div>
                                                </div>
                                            </div>
                                            <!-- NAV TABS END -->
                                        </div>
                                    </div>

                                    <div class="wre-sec">
                                        <div class="row">
                                            <div
                                                class="col-md-3 col-sm-3 col-6 bdr-cls">
                                                <div class="earn-view">
                                                    <span
                                                        class="bi bi-airplane-engines earn-icon icon-near"></span>

                                                    <div class="earn-view-text">

                                                        <p class="name-text">
                                                            Mot cai gi do
                                                        </p>
                                                        <h6 class="balance-text">
                                                            $123123
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="col-md-3 col-sm-3 col-6 bdr-cls">
                                                <div class="earn-view">
                                                    <span
                                                        class="bi bi-airplane-engines earn-icon icon-near"></span>

                                                    <div class="earn-view-text">

                                                        <p class="name-text">
                                                            Mot cai gi do
                                                        </p>
                                                        <h6 class="balance-text">
                                                            $123123
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="col-md-3 col-sm-3 col-6 bdr-cls">
                                                <div class="earn-view">
                                                    <span
                                                        class="bi bi-airplane-engines earn-icon icon-near"></span>

                                                    <div class="earn-view-text">

                                                        <p class="name-text">
                                                            Mot cai gi do
                                                        </p>
                                                        <h6 class="balance-text">
                                                            $123123
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="col-md-3 col-sm-3 col-6 bdr-cls">
                                                <div class="earn-view">
                                                    <span
                                                        class="bi bi-airplane-engines earn-icon icon-near"></span>

                                                    <div class="earn-view-text">

                                                        <p class="name-text">
                                                            Mot cai gi do
                                                        </p>
                                                        <h6 class="balance-text">
                                                            $123123
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="bg-white top-chart-earn">
                                    <div class="row">
    
                                        <div class="title-chart-right">
                                            <h5>Dashboard</h5>
                                        </div>
                                        <div class="chart-right">
                                            <canvas id="chartId" aria-label="chart" style="width: 290px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--  CONTENT END  -->
        </div>
    </body>
</html>