<!DOCTYPE html>
<html lang="en">

<body>
    <div class="content-wrapper">
        <section class="dashboard-top-sec">
            <div class="container-fluid">
                <div class="cardperShadow shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Manage Report</h6>
                    </div>
                    <div class="card-bodyPerShadow">
                        <div id="dataTable_wrapper">
                            <div class="row ">
                                <div class="col-md-12">
                                    <!-- Tabs navs -->
                                    <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active"><i
                                                    class="bi bi-person-fill-exclamation"></i></i>User</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"><i
                                                    class="bi bi-file-earmark-music-fill"></i></i>Music</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link"><i class="bi bi-person-exclamation"></i></i>Artist</a>
                                        </li>
                                    </ul>
                                    <!-- Tabs navs -->

                                    <!-- Tabs content -->
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="rp-tabs-1">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Report Content</th>
                                                        <th scope="col">Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>
                                                            <div class="card" style="width:150px">
                                                                <img class="card-img-top"
                                                                    src="https://th.bing.com/th/id/R.71f3ab7f5f3e2a1493477d86d5634106?rik=ya0SS93ncJ016w&pid=ImgRaw&r=0"
                                                                    alt="Card image">
                                                            </div>
                                                        </td>
                                                        <td>Otto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-bs-toggle="dropdown"
                                                                    style="border: none;background-color: transparent;"><i
                                                                        class="bi bi-three-dots-vertical"></i></button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a class="dropdown-item" data-bs-toggle="modal"
                                                                            data-bs-target="#myModal">Detail</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>
                                                            <div class="card" style="width:150px">
                                                                <img class="card-img-top"
                                                                    src="https://th.bing.com/th/id/R.71f3ab7f5f3e2a1493477d86d5634106?rik=ya0SS93ncJ016w&pid=ImgRaw&r=0"
                                                                    alt="Card image">
                                                            </div>
                                                        </td>
                                                        <td>Thornton</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-bs-toggle="dropdown"
                                                                    style="border: none;background-color: transparent;"><i
                                                                        class="bi bi-three-dots-vertical"></i></button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a class="dropdown-item" data-bs-toggle="modal"
                                                                            data-bs-target="#myModal">Detail</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>
                                                            <div class="card" style="width:150px">
                                                                <img class="card-img-top"
                                                                    src="https://th.bing.com/th/id/R.71f3ab7f5f3e2a1493477d86d5634106?rik=ya0SS93ncJ016w&pid=ImgRaw&r=0"
                                                                    alt="Card image">
                                                            </div>
                                                        </td>
                                                        <td>Larry the Bird</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button data-bs-toggle="dropdown"
                                                                    style="border: none;background-color: transparent;"><i
                                                                        class="bi bi-three-dots-vertical"></i></button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a class="dropdown-item" data-bs-toggle="modal"
                                                                            data-bs-target="#myModal">Detail</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="rp-tabs-2">
                                            Tab 2 content
                                        </div>
                                        <div class="tab-pane" id="rp-tabs-3">
                                            Tab 3 content
                                        </div>
                                    </div>
                                    <!-- Tabs content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
</body>
<!-- model -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Report detail</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3 mt-3">
                            <label class="form-label">Image</label>
                            <div class="card" style="height: 250px;">
                                <img class="card-img-top"
                                    src="https://th.bing.com/th/id/R.71f3ab7f5f3e2a1493477d86d5634106?rik=ya0SS93ncJ016w&pid=ImgRaw&r=0"
                                    alt="Card image">
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="form-label">Setting:</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                                    checked>Option 1
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                    value="option2">Option 2
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="optradio"
                                    value="option3">Option 3
                                <label class="form-check-label" for="radio3"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3 mt-3">
                            <label class="form-label">Id:</label>
                            <input class="form-control">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="form-label">Email:</label>
                            <input class="form-control">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="form-label">Email:</label>
                            <input class="form-control">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment">Report content:</label>
                            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal">Ban</button>
                <button class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>

</html>