<!DOCTYPE html>
<html lang="en">
   <body>
      <!-- CONTENT START  -->

      <div class="content-wrapper">

         <section class="dashboard-top-sec">

            <div class="container-fluid">

               <div class="row profile-content">

                  <div class="col-12 col-md-12 col-lg-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div
                              class="iq-card iq-card-block iq-card-stretch iq-card-height  mb-0">
                              <div class="iq-card-header text-center">
                                 <div class="iq-header-title">
                                    <h4 class="card-title mb-0 ">Manager Blog</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body ">
                                 <div class="row mt-3">

                                    <div class="date-blog-manager">
                                       Tháng 7 năm 2023

                                    </div>

                                    <div class=" col-12 col-sm-6 col-md-4  ">
                                       <div class="card" style="width: 18rem;">
                                          <div>
                                             <a href="#">
                                                <img
                                                   src="../Admin/img/bannerBog.png"
                                                   class="card-img-top"
                                                   alt="...">
                                             </a>
                                             <a id="Notify"
                                                data-bs-toggle="dropdown" href
                                                style="position: relative; top: 50%;">
                                                <i class="bi-three-dots"></i>
                                             </a>
                                             <div class="dropdown-menu">
                                                <div class="dp-main-menu">
                                                   <a href="#"
                                                      class="dropdown-item message-item">
                                                      <img src="./img/email.png"
                                                         alt class="user-note">
                                                      <div
                                                         class="note-info-desmis">
                                                         <div
                                                            class="user-notify-info">
                                                            <p class="note-name">Server
                                                               Report </p>
                                                            <p class="note-time">10
                                                               phut truoc</p>
                                                         </div>
                                                         <p href
                                                            class="status-link">
                                                            <span
                                                               class="fas fa-times"></span>
                                                         </p>
                                                      </div>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img
                                                      src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div
                                                   class="title-manager-blog ms-2 mt-0">
                                                   <a href="#"
                                                      class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last
                                                updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                    <div class=" col-12 col-sm-6 col-md-4  ">

                                       <div class="card" style="width: 18rem;">
                                          <a href="#">
                                             <img
                                                src="../Admin/img/bannerBog.png"
                                                class="card-img-top" alt="...">
                                          </a>
                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img
                                                      src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div
                                                   class="title-manager-blog ms-2 mt-0">
                                                   <a href="#"
                                                      class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                      asdsadasdasdsad

                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last
                                                updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                    <div class=" col-12 col-sm-6 col-md-4  ">

                                       <div class="card" style="width: 18rem;">
                                          <a href="#">
                                             <img
                                                src="../Admin/img/bannerBog.png"
                                                class="card-img-top" alt="...">
                                          </a>
                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img
                                                      src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div
                                                   class="title-manager-blog ms-2 mt-0">
                                                   <a href="#"
                                                      class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                      asdsadasdasdsad
                                                      adsadasdasdsada
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last
                                                updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                 </div>

                                 <div class="row mt-3">

                                    <div class="date-blog-manager">
                                       Tháng 7 năm 2023

                                    </div>

                                    <div class=" col-12 col-sm-6 col-md-4  ">
                                       <div class="card" style="width: 18rem;">
                                          <a href="#">
                                             <img
                                                src="../Admin/img/bannerBog.png"
                                                class="card-img-top" alt="...">
                                          </a>
                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img
                                                      src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div
                                                   class="title-manager-blog ms-2 mt-0">
                                                   <a href="#"
                                                      class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last
                                                updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                    <div class=" col-12 col-sm-6 col-md-4  ">

                                       <div class="card" style="width: 18rem;">
                                          <a href="#">
                                             <img
                                                src="../Admin/img/bannerBog.png"
                                                class="card-img-top" alt="...">
                                          </a>
                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img
                                                      src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div
                                                   class="title-manager-blog ms-2 mt-0">
                                                   <a href="#"
                                                      class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                      asdsadasdasdsad

                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last
                                                updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                    <div class=" col-12 col-sm-6 col-md-4  ">

                                       <div class="card" style="width: 18rem;">
                                          <a href="#">
                                             <img
                                                src="../Admin/img/bannerBog.png"
                                                class="card-img-top" alt="...">
                                          </a>
                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img
                                                      src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div
                                                   class="title-manager-blog ms-2 mt-0">
                                                   <a href="#"
                                                      class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                      asdsadasdasdsad
                                                      adsadasdasdsada
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last
                                                updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </body>

</html>