<!DOCTYPE html>
<html lang="en">
   <body>
       <!-- CONTENT START  -->

       <div class="content-wrapper">

         <section class="dashboard-top-sec">

            <div class="container-fluid">

               <div class="row profile-content">

                  <div class="col-12 col-md-12 col-lg-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="iq-card iq-card-block iq-card-stretch iq-card-height  mb-0">
                              <div class="iq-card-header text-center">
                                 <div class="iq-header-title">
                                    <h4 class="card-title mb-0 ">Manager Blog</h4>
                                 </div>
                              </div>
                              <div class="iq-card-body ">
                                 <div class="row mt-3">                             
                                    <div class="date-blog-manager">
                                       Tháng 7 năm 2023

                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../../static/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                 </div>


                                 <div class="row mt-3">

                                    <div class="date-blog-manager">
                                       Tháng 7 năm 2023

                                    </div>

                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 mb-3">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6  col-12 ">
                                       <div id="card-managerBlog" class="card" style="width: 18rem;">
                                          <div class="edit-blog">

                                             <a href="#">
                                                <img src="../Admin/img/bannerBog.png" class="card-img-top" alt="...">
                                             </a>

                                             <div class="dots-edit ">
                                                <a href data-bs-toggle="dropdown" id="Notify" class="nav-link"> <i
                                                      class="bi bi-three-dots"></i></a>
                                                <div class="dropdown-menu" style="min-width: 5rem;">
                                                   <div class="dp-main-menu">

                                                      <a href="#" class="dropdown-item message-item mt-1">
                                                         <i class="bi bi-pen icon-pen-edit"></i>
                                                         <div class="note-info-desmis">
                                                            <div class="dropdown-edit-font">
                                                               <p class="note-name">Edit</p>

                                                            </div>

                                                         </div>
                                                      </a>
                                                   </div>
                                                </div>
                                             </div>

                                          </div>


                                          <div class="card-body">
                                             <div class="d-flex">
                                                <div class="img-person-manager">
                                                   <img src="../Admin/img/bannerBog.png">
                                                </div>
                                                <div class="title-manager-blog ms-2 mt-0">
                                                   <a href="#" class="title-manager-blog">
                                                      Bàiviêtsádddddddddddddddddđsaddsa
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="card-footer">
                                             <small class="text-body-secondary">Last updated 3 mins ago</small>
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                              </div>
                           </div>

                        </div>


                     </div>
                  </div>

               </div>
         </section>

      </div>

      <!--  CONTENT END  -->
    
   </body>

</html>