<!DOCTYPE html>
<html lang="en">
   <body>
      <!-- CONTENT START  -->
      <div class="content-wrapper">

         <section class="dashboard-top-sec">
            <div class="container-fluid">

               <div class="cardperShadow shadow mb-4">
                  <div class="card-header py-3">
                     <h6 class="m-0 font-weight-bold text-primary">Data Tables
                     </h6>
                  </div>
                  <div class="card-bodyPerShadow">

                     <div id="dataTable_wrapper">
                        <div class="row">
                           <div class="row">
                              <div class="col-sm-6 text-left"></div>
                              <div class="col-sm-6 text-right">
                                 <div class="dt-buttons btn-group mb-2">
                                    <button
                                       class="btn btn-secondary buttons-export"
                                       type="button"><span>Excel</span>
                                    </button>
                                    <button
                                       class="btn btn-secondary buttons-export"
                                       type="button"><span>Print</span>
                                    </button>
                                    <button
                                       class="btn btn-secondary buttons-export"
                                       type="button"><span>Excel</span>
                                    </button>
                                    <button
                                       class="btn btn-secondary buttons-export"
                                       type="button"><span>Excel</span>
                                    </button>

                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-12 ">
                                 <table class="table table-bordered dataTable ">
                                    <thead
                                       style="border-bottom: 2px solid rgb(212, 212, 212);">
                                       <tr role="row">

                                          <th style="width: 145.333px;">Id</th>
                                          <th style="width: 218.333px;">Name</th>
                                          <th style="width: 218.333px;"
                                             class="text-center">Action</th>
                                       </tr>
                                    </thead>
                                    <tfoot>
                                       <tr>
                                          <th rowspan="1" colspan="1">Id</th>
                                          <th rowspan="1" colspan="1">Name</th>
                                          <th rowspan="1" colspan="1"
                                             class="text-center">Action</th>
                                       </tr>
                                    </tfoot>
                                    <tbody>

                                       <tr class="odd">
                                          <td class="sorting_1">Ashton Cox</td>
                                          <td>Junior Technical Author</td>
                                          <td class="text-center">
                                             <a href="#"> <button
                                                   class="btn btn-success">Edit</button>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr class="even">
                                          <td class="sorting_1">Garrett Winters</td>
                                          <td>Accountant</td>
                                          <td class="text-center">
                                             <a href="#"> <button
                                                   class="btn btn-success">Edit</button>
                                             </a>
                                          </td>
                                       </tr>
                                       <tr class="odd">
                                          <td class="sorting_1">Tiger Nixon</td>
                                          <td>System Architect</td>
                                          <td class="text-center">
                                             <a href="#"> <button
                                                   class="btn btn-success">Edit</button>
                                             </a>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
 
                           <div class="row">
                              <div class="col-sm-12 col-md-5">
                                 <div class="dataTables_info"
                                    id="DataTables_Table_0_info" role="status"
                                    aria-live="polite">Đang xem 1 đến 1 trong
                                    tổng số 1 mục</div>
                              </div>
                              <div class="col-sm-12 col-md-7">
                                 <div
                                    class="pagination  d-flex justify-content-end align-content-center mb-3">
                                    <a href="#">&laquo;</a>
                                    <a href="#">1</a>
                                    <a class="active" href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>

                                    <a href="#">&raquo;</a>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </section>
            </div>
            <!--  CONTENT END  -->
         </div>
      </div>
   </body>
</html>