<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Rhymthwave</title>
    <link rel="icon" type="image/x-icon" href="../../static/img/favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/search-detail.css" />

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/cssUser/profile.css" />

    <link rel="stylesheet" href="../../static/css/toasts.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/angularjs/user/index.js"></script>
    <link rel="stylesheet" href="../../static/css/cssUser/profile.css" />
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="content d-flex">
        <div class="sidebar container-fluid">
            <div class="row">
                <ul class="list-group">
                    <div class="card card-content shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <li>
                                    <a class="list-group-item py-3 m-2" href="#!main">
                                        <i class="mx-2 bi bi-house-heart-fill"></i> Dash board
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item py-3 m-2" href="#!search">
                                        <i class="mx-2 bi bi-search"></i> Search
                                    </a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="card card-content shadow ">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Your Library</h5>
                                    <div class="dropdown">
                                        <button type="button " class="btn border-0 button-control"
                                            data-bs-toggle="dropdown">
                                            <i class="bi bi-plus-circle"></i>
                                        </button>
                                        <ul class="dropdown-menu drop-playlist ">
                                            <li><a class="dropdown-item" id="create-playlist"><i
                                                        class="bi bi-music-note-beamed"></i> Create a new Playlist</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="playlist">
                                    <!-- Wishlist -->
                                    <li>
                                        <a class="" href="#!wishlist">
                                            <div class="d-flex align-items-center">
                                                <img class="m-2 rounded-2 thumbnail-playlist"
                                                    src="https://res.cloudinary.com/div9ldpou/image/upload/v1699455162/Background/System/liked-songs-640_mhrtwz.png"
                                                    alt="">
                                                <div>
                                                    <h6 class="p-0 m-0">Liked songs</h6>
                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                    <!-- list follow -->
                                    <li ng-repeat="item in listFollow"
                                        ng-init="menuPlaylistId='element-menu-profile'+ $index"
                                        oncontextmenu="contextMenu(event,this)">
                                        <a ng-if="item.authorsAccountB.role.role !== 'ARTIST'"
                                            href="#!profile/{{item.authorsAccountB.role.role.toLowerCase()}}/{{item.authorsAccountB.account.username}}">
                                            <div class="d-flex align-items-center">
                                                <img class="m-2 rounded-2 thumbnail-playlist"
                                                    src="{{item.authorsAccountB.account.image !==null ? 
                                                    item.authorsAccountB.account.image.url:
                                                    'https://res.cloudinary.com/div9ldpou/image/upload/v1699632134/Avatar/System/user_oujyrp.png'}}" alt="">

                                                <div class="d-flex justify-content-between flex-column">
                                                    <p class="p-0 m-0">{{item.authorsAccountB.account.username}}</p>
                                                    <span class="small">{{item.authorsAccountB.role.role}}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a ng-if="item.authorsAccountB.role.role === 'ARTIST'"
                                            href="#!artist/{{item.authorsAccountB.account.artist.artistId}}">
                                            <div class="d-flex align-items-center">
                                                <img class="m-2 rounded-2 thumbnail-playlist"
                                                    src="{{item.authorsAccountB.account.artist.imagesProfile !==null ? 
                                                        item.authorsAccountB.account.artist.imagesProfile.url :
                                                    'https://res.cloudinary.com/div9ldpou/image/upload/v1696293833/Avatar/System/807831_rrsd2v.png'}}" alt="">
                                                <div class="d-flex justify-content-between flex-column">
                                                    <p class="p-0 m-0">
                                                        {{item.authorsAccountB.account.artist.artistName}}
                                                    </p>
                                                    <span class="small">{{item.authorsAccountB.role.role}}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="element-menu" id="{{menuPlaylistId}}">
                                            <ul class="p-0 bg-dark ul-dropdown-end">
                                                <li class="li-dropdown-end">
                                                    <a ng-click="Unfollow(item.followerId)"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-x-lg"></i> Unfollow
                                                    </a>
                                                </li>
                                                <li class="li-dropdown-end">
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li class="li-dropdown-end">
                                                    <a href="{{item.authorsAccountB.role.role === 'ARTIST' ? '#!artist/'+item.authorsAccountB.account.artist.artistId : '#!profile/'+item.authorsAccountB.role.role.toLowerCase()+'/'+item.authorsAccountB.account.username}}"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i ng-class="item.isPublic ? 'bi bi-lock' : 'bi bi-globe2'"></i>
                                                        Go to the profile
                                                    </a>
                                                </li>
                                                <li class="li-dropdown-end">
                                                    <a class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-exclamation-octagon"></i> Report
                                                    </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li class="li-dropdown-end">
                                                    <a class="btn text-white dropdown-item py-2 px-3"  data-bs-toggle="modal" data-bs-target="#sharing"><i
                                                            class="bi bi-share"></i>
                                                        Share</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <!-- list Playlist -->
                                    <li ng-repeat="item in listPlaylist"
                                        ng-init="menuPlaylistId='element-menu-' + item.playlistId"
                                        oncontextmenu="contextMenu(event,this)">
                                        <a href="#!playlist/{{item.playlistId}}">
                                            <div class="d-flex align-items-center">
                                                <img class="m-2 rounded-2 thumbnail-playlist"
                                                    src="{{item.image !==null ? item.image.url:'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}"
                                                    alt="">
                                                <div>
                                                    <p class="p-0 m-0">{{item.playlistName}}</p>
                                                    <span>{{item.quantity}}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="element-menu" id="{{menuPlaylistId}}">
                                            <ul class="p-0 bg-dark ul-dropdown-end">
                                                <li class="li-dropdown-end">
                                                    <a class="btn text-white dropdown-item py-2 ">
                                                        <i class="ms-3 bi bi-plus-lg"></i>
                                                        Add to other playlist
                                                    </a>
                                                    <ul class="nav bg-dark w-100">
                                                        <li class="nav-item">
                                                            <div class="input-group border-0">
                                                                <span class="input-group-text"
                                                                    style="background-color: transparent;"><i
                                                                        class="text-white bi bi-search-heart"></i></span>
                                                                <input ng-model="nameMyPlaylist"
                                                                    ng-change="searchMyPlaylist(nameMyPlaylist)"
                                                                    type="text" class="text-white form-control"
                                                                    placeholder="Search in playlist"
                                                                    style="background-color: transparent;">
                                                            </div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a ng-click="createSamePlaylist(item.playlistId)"
                                                                class="nav-link text-white">
                                                                <i class="bi bi-plus-lg"></i> Create playlist
                                                            </a>
                                                        </li>
                                                        <li class="li-dropdown-end">
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li ng-repeat="playlist in listPlaylist" class="nav-item">
                                                            <a ng-click="addOtherPlaylistOrQueue(item.playlistId,playlist.playlistId,'playlist')"
                                                                class="nav-link text-white">{{playlist.playlistName}}</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="li-dropdown-end">
                                                    <a ng-click="addOtherPlaylistOrQueue(item.playlistId,null,'queue')"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-hdd-stack"></i> Add to queue
                                                    </a>
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <a href="#!/playlist/{{item.playlistId}}"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-pencil"></i> Edit details
                                                    </a>
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <a ng-click="categoryInPlaylist(item.playlistId)"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-stars"></i> Create similar playlist
                                                    </a>
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <a ng-click="deletePlaylist(item.playlistId)"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-dash-circle"></i> Delete
                                                    </a>
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <a ng-click="createPlaylist()"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i class="bi bi-plus-lg"></i> Create playlist
                                                    </a>
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <a ng-click="makePrivate(item, !item.isPublic)"
                                                        class="btn text-white dropdown-item py-2 px-3">
                                                        <i ng-class="item.isPublic ? 'bi bi-lock' : 'bi bi-globe2'"></i>
                                                        Make {{item.isPublic === true ? 'Private' : 'Public'}}
                                                    </a>
                                                </li>

                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <li class="li-dropdown-end">
                                                    <a class="btn text-white dropdown-item py-2 px-3"><i
                                                            class="bi bi-share"></i>
                                                        Share</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#sharing">dsfjldskfjsdl</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <main class="bl-body p-0" ng-view>

        </main>
    </div>
    <footer class="player-controls col-12 fixed-bottom p-0">
        <div class="audio-bar row align-items-center">
            <div class="col-md-3 col-3 player-controls-left">
                <div class="media d-flex align-items-center">
                    <div class="media-left">
                        <a ng-show="!ads.adId" href="">
                            <img ng-if="!audioItem.episodeId" class="m-2 thumbnail" src="{{audioItem.song.image.url}}"
                                alt="">
                            <img ng-if="audioItem.episodeId" class="m-2 thumbnail" src="{{audioItem.image.url}}" alt="">
                        </a>
                        <a href="">
                            <img ng-show="ads.adId" class="m-2 thumbnail" src="{{ads.image.url}}" alt="">
                        </a>
                    </div>
                    <div class="media-content d-none d-md-block">
                        <div ng-show="!ads.adId" class="m-0 p-0">
                            <span><a class="text-white">{{audioItem.recordingName}}</a></span>
                            <span><a class="text-white">{{audioItem.episodeTitle}}</a></span>
                        </div>
                        <span><a class="text-white">{{ads.title}}</a></span>
                        <div class="m-0 p-0">
                            <div ng-show="!ads.adId" class="m-0 p-0">
                                <a class="text-white"
                                    ng-repeat="item in audioItem.song.writters">{{item.artist.artistName}} | </a>
                                <a class="text-white">{{audioItem.podcast.authorName}}</a>
                            </div>
                            <a ng-show="ads.adId" href="{{ads.url}}" class="text-white">Learn more</a>
                        </div>
                    </div>

                    <div class="media-right d-flex">
                        <div class="level-item">
                            <span>
                                <button id="btn-wishlist" class="btn button-control border-0"
                                    ng-click="checkExisted(audioItem,$event)" data-bs-hover="tooltip"
                                    title="Thêm vào yêu thích!">
                                    <i ng-style="{'color': isLiked(audioItem) ? 'green' : 'white'}"
                                        class="{{isLiked(audioItem) ? 'bi bi-heart-fill' : 'bi bi-heart'}}"></i>
                                </button></span>
                        </div>
                        <div class="level-item d-none d-md-block">

                            <div class="dropdown">
                                <button type="button" class="btn button-control" data-bs-toggle="dropdown">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu drop-playlist ">
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-music-note-beamed"></i> Create
                                            a new Playlist</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-folder2-open"></i> Create a
                                            new folder playlist</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-9 player-controls-center d-flex flex-column align-items-center">
                <div class="controls-bar d-flex align-items-center">
                    <button id="shuffle" class="btn border-0 py-0 button-control-music" data-bs-hover="tooltip"
                        title="Bật phát ngẫu nhiên!"><i class="bi bi-shuffle"></i></button>

                    <button id="prev" class="btn border-0 py-0 button-control-music"><i
                            class="bi bi-skip-start-circle"></i></button>

                    <button id="play" class="btn border-0 py-0 button-control-music-play">
                        <i class="bi bi-play-circle"></i>
                    </button>
                    <button id="resume" hidden class="btn border-0 py-0 button-control-music-play">
                        <i class="bi bi-pause-circle"></i>
                    </button>

                    <button id="next" class="btn border-0 py-0 button-control-music"><i
                            class="bi bi-skip-end-circle"></i></button>

                    <button id="loop" class="btn border-0 py-0 button-control-music"><i
                            class="bi bi-repeat"></i></button>
                </div>
                <div class="time-line w-100 d-flex align-items-center flex-fill">
                    <span style="font-size: x-small;" id="current-time">00:00</span>
                    <input id="duration-audio" class="duration-bar w-100 mx-2" type="range" min="0" value="0" step="0.1" name="">
                    <audio id="audio" src=""></audio>
                    <div class="line-first"></div>
                    <div class="line-current"></div>
                    <div class="circle"></div>
                    <span style="font-size: x-small;" id="total-time">duration</span>
                </div>
            </div>
            <div class="col-md-3 d-none d-md-block player-controls-right ">
                <div class="d-flex align-items-center">
                    <button ng-if="audioItem.idMv!==null && !ads.adId" class="btn text-white border-0"
                        data-bs-toggle="modal" data-bs-target="#MV">MV</button>
                    <button id="download" class="btn border-0 button-control"><i class="bi bi-download"></i></button>
                    <a href="#!queue" class="btn border-0 button-control"><i class="bi bi-hdd-stack"></i></a>
                    <a ng-if="audioItem.lyricsUrl !== null" href="#!karaoke" id="karaoke"
                        class="btn border-0 button-control"><i class="bi bi-mic"></i></a>

                    <button id="mute" class="btn button-control"><i id="icon-mute" class="bi bi-volume-up"></i></button>
                    <input id="volumeAudio" class="" type="range" min="0" max="1" step="0.1" name="">
                </div>

            </div>
        </div>
    </footer>

    <!-- Modal thông báo  -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="popup modal-dialog">
            <div class="popup-message modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-end">
                        <span class="btn" type="button" aria-hidden="true" data-bs-dismiss="modal"
                            aria-label="Close">&times;</span>
                    </div>
                    <p>This is the body of the modal.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal trình chiếu MV -->
    <div class="modal fade" id="MV">
        <div class="popup modal-dialog">
            <div class="popup-message  modal-content" style="background-color: transparent;">
                <div class="modal-body p-0">
                    <iframe class="w-100" height="600" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen autoplay src="{{trustedUrl}}"> Your
                        browser does not support HTML video. </iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal share -->
    <!-- Button to Open the Modal -->
    <div class="modal fade" id="sharing">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <p>Share</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                   <div class="d-flex">

                   </div>
                   <div>
                        <p></p>
                        <button class="btn bg-white text-dark rounded-pill">Copy</button>
                   </div>
                </div>

                <div class="modal-footer">
                    
                </div>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
    <script src="../../static/js/angularjs/user/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="../../static/js/Utiliez/CookiesUtil.js"></script>
    <script src="../../static/js/jscustom/UI-Js-Admin/bootstrap-show-notification.js"></script>
    <script src="../../static/js/jscustom/toasts.js"></script>
    <script src="../../static/js/angularjs/user/myCtrl.js"></script>
    <script src="../../static/js/angularjs/user/Karaoke.js"></script>
    <script src="../../static/js/angularjs/user/Queue.js"></script>
    <script src="../../static/js/angularjs/user/search.js"></script>
    <script src="../../static/js/angularjs/user/playlist.js"></script>
    <script src="../../static/js/angularjs/user/profile.js"></script>
    <script src="../../static/js/angularjs/user/show-podcast.js"></script>
    <script src="../../static/js/angularjs/user/playlist-art.js"></script>
    <script src="../../static/js/angularjs/user/album.js"></script>
    <script src="../../static/js/angularjs/user/mood.js"></script>
    <script src="../../static/js/angularjs/user/episode.js"></script>
</body>

</html>