<body ng-controller="playlistCtrl">
    <section class="w-100 h-100">
        <div class="row pt-5" data-bs-toggle="modal" data-bs-target="#infor-playlist"
            style="background-color: #2a2b2b;">
            <div class="col-2 ms-3 mb-3">
                <img class="w-100 img-playlist" style="height: 200px; object-fit: cover;"
                    src="{{playlist.image !== null ? playlist.image.url : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}"
                    alt="">
            </div>
            <div class="col-9 d-flex flex-column justify-content-center">
                <div>
                    <p class="p-0 m-0">{{playlist.isPublic === true ? 'Public Playlist' : 'Private Playlist'}}</p>
                    <h6 class="display-3">{{playlist.playlistName}}</h6>
                </div>
                <div>
                    <p class="text-white-50">{{playlist.description}}</p>
                </div>
                <div>
                    <h6>Ng.vanbao</h6>
                </div>
            </div>
        </div>
        <div ng-show="listAudioPlaylist.length > 0" class="d-flex justify-content-between align-items-center">
            <div>
                <button id="btn-playlist-play" class="btn border-0">
                    <i class="display-3 bi bi-play-circle" style="color: green;"></i>
                </button>
                <button id="btn-playlist-pause" hidden class="btn border-0">
                    <i class="display-3 bi bi-pause-circle" style="color: green;"></i>
                </button>
                <button id="btn-playlist-shuffle" class="btn text-white border-0 py-0"><i
                        class="display-6 bi bi-shuffle"></i></button>
            </div>
            <div class="d-flex align-items-center">
                <div class="input-group me-3">
                    <span class="input-group-text" style="background-color: transparent;"><i
                            class="text-white bi bi-search-heart"></i></span>
                    <input type="text" class="text-white form-control" placeholder="Search in playlist"
                        style="background-color: transparent;">
                </div>
                <div>
                    <select name="" id="" class="border-0 text-white" style="background-color: transparent;">
                        <option value="">Custom order</option>
                        <option value="">Title</option>
                        <option value="">Artist</option>
                        <option value="">Album</option>
                        <option value="">Date added</option>
                        <option value="">Duration</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mx-4">
            <table ng-show="listAudioPlaylist.length > 0" class="table text-white table-hover" style="background-color: transparent!important;">
                <thead>
                    <th>#</th>
                    <th>Title</th>
                    <th>Album</th>
                    <th>Date added</th>
                    <th class="text-center"><i class="bi bi-stopwatch"></i></th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listAudioPlaylist | limitTo: 10"
                        ng-dblclick="item.recordingId ? selectAudio(item,'song',listAudioPlaylist,$index) : selectAudio(item,'episode',listAudioPlaylist,$index)" class="align-items-center">
                        <!-- Col 1 -->
                        <td class="text-white">
                            {{$index+1}}
                        </td>
                        <!-- Col 2 -->
                        <td ng-if="item.recordingId">   
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.song.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.recordingName}}</h6>
                                        <span class="small text-white" ng-repeat="a in item.song.writters">{{a.artist.artistName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-if="item.episodeId">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.episodeTitle}}</h6>
                                        <span class="small text-white">{{item.podcast.authorName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <!-- Col 3 -->
                        <td>
                            <h6 class="p-0 m-0 text-white">{{item.tracks[0].album.albumName}}</h6>
                            <h6 class="p-0 m-0 text-white">{{item.podcast.podcastName}}</h6>
                        </td>

                        <!-- Col 4 -->
                        <td>
                            <p class="p-0 m-0 text-white">{{listDateAdded[$index].dateAdded}}</p> 
                        </td>
                        
                        <!-- Col 5 -->
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button class="btn border-0 text-white"><i class="bi bi-heart"></i></button>
                                <h6 class="p-0 m-0 text-white"><format-time seconds="item.duration"></format-time></h6>
                                <button class="btn border-0 text-white"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            <h6>Find more</h6>
        </div>
        <div class="mx-4">
            <table class="table table-hover" style="background-color: transparent!important;">
                <thead class="">
                    <tr>
                        <th class="text-white-50" colspan="3">
                            <h5 class="text-white">Recommended</h5>
                            <p class="text-white font-weight-bold">Based on the title of this playlist</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listRecommended | limitTo: 10" class="align-items-center">
                        <td ng-dblclick="selectAudio(item,'song',listRecommended,$index)">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.song.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.recordingName}}</h6>
                                        <a class="text-white" ng-repeat="a in item.song.writters" href="">
                                            <h6>{{a.artist.artistName}}</h6>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h6 class="mt-3 p-0 m-0 text-white">{{item.recordingName}}</h6>
                        </td>
                        <td>
                            <button ng-click="addition('record',item,$index)"
                                class="px-3 btn rounded-pill border-white text-white">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <a class="my-2 btn text-white border-0" id="refresh">
                    <h6>Refresh</h6>
                </a>
            </div>
        </div>
    </section>
    <div class="modal fade " id="infor-playlist">
        <div class="modal-dialog bg-black text-white">
            <div class="modal-content" style="background-color: #2a2b2b;">

                <div class="modal-header py-0 border-0">
                    <h4 class="modal-title">Edit details</h4>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body py-0 row">
                    <div class="col-5 d-flex flex-column justify-content-center">
                        <img class="w-100 img-playlist" style="height: 180px; object-fit: cover;"
                            src="{{playlist.image !== null ? playlist.image.url : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696394508/Background/System/ss_276c32d569fe8394e31f5f53aaf7ce07b8874387.1920x1080_raeceo.jpg'}}"
                            alt="">
                        <input type="file" id="img-playlist" hidden>
                    </div>
                    <div class="col-7">
                        <input ng-model="playlist.playlistName" class="form-control" type="text">
                        <textarea ng-model="playlist.description" class="form-control mt-3" name="" id="" cols="30"
                            rows="5"></textarea>
                    </div>
                    <div class="d-flex justify-content-end my-3">
                        <button id="btn-update-playlist"
                            class="btn bg-white rounded-pill text-black px-3 font-weight-bold">Save</button>
                    </div>
                </div>

                <div class="modal-footer py-0 border-0">
                    <span class="small">By processing, you agree to give Rhymthwave access to the image you choose to
                        upload.
                        Please make sure you have the right to upload the image.
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>