<body ng-controller="profileCtrl">
    <div class="container-fluid m-0 p-0">
        <div class="background-in4">
            <img src="{{profile.backgroundImage !==null ? profile.backgroundImage.url : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696341682/Background/System/ilikeU_bgvlyy.png'}}"
                class="w-100" style="height: 350px; object-fit: cover;" alt="">
            <div class="in4-card">
                <div class="in4-text">
                    <p><i style="color: rgb(69, 69, 230);" class="bi bi-patch-check-fill"></i> Verified Artist</p>
                    <p class="display-1 text-bold fw-bolder">{{profile.artistName}}</p>
                    <p>1,000,431 monthly listeners</p>
                </div>
            </div>
            <div class="flow align-items-center">
                <button id="btn-artist-play" class="btn border-0">
                    <i class="display-3 bi bi-play-circle" style="color: green;"></i>
                </button>
                <button id="btn-artist-pause" hidden class="btn border-0">
                    <i class="display-3 bi bi-pause-circle" style="color: green;"></i>
                </button>
                <button id="btn-artist-shuffle" class="btn text-white border-0 py-0"><i
                        class="display-6 bi bi-shuffle"></i></button>
                <button class="btn border-1 border-white rounded-pill text-white mx-3 h-50" id="btn-follow">
                    Follow</button>
                <div class="dropdown">
                    <button type="button" class="btn border-0" data-bs-toggle="dropdown">
                        <div class="in"><i class="text-white bi bi-three-dots"></i></div>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Report</a></li>
                        <li><a class="dropdown-item" href="#">Copy link to profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="popular-list container-fluid">
        <div class="title mt-3">
            <p class="prf-name-title">Popular</p>
        </div>
        <div class="container-fluid">
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <!-- <div class="dot"><i class="bi bi-three-dots"></i></div> -->
                <div class="dropdown dot">
                    <div id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-three-dots"></i></div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <p>Like</p>
                        <p>Block</p>
                    </ul>
                </div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="title mt-5">
            <p class="prf-name-title">Public Playlists</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="card play-list">
                    <div class="card-img">
                        <img src="../../static/img/ms3.webp" class="card-img-top" alt="Sunset Over the Sea" />
                        <div class="icon">
                            <div class="icon-play"><i class="bi bi-play-circle"></i></div>
                            <div class="icon-heart"><i class="bi bi-heart"></i></div>
                            <div class="icon-dif"><i class="bi bi-three-dots"></i></div>
                        </div>
                    </div>
                    <div class="card-play-list">
                        <p class="card-text">Va vào những giai điệu thư giản của V-Pop</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card play-list">
                    <div class="card-img">
                        <img src="../../static/img/ms4.webp" class="card-img-top" alt="Sunset Over the Sea" />
                        <div class="icon">
                            <div class="icon-play"><i class="bi bi-play-circle"></i></div>
                            <div class="icon-heart"><i class="bi bi-heart"></i></div>
                            <div class="icon-dif"><i class="bi bi-three-dots"></i></div>
                        </div>
                    </div>
                    <div class="card-play-list">
                        <p class="card-text">Va vào những giai điệu thư giản của V-Pop</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card play-list">
                    <div class="card-img">
                        <img src="../../static/img/ms5.webp" class="card-img-top" alt="Sunset Over the Sea" />
                        <div class="icon">
                            <div class="icon-play"><i class="bi bi-play-circle"></i></div>
                            <div class="icon-heart"><i class="bi bi-heart"></i></div>
                            <div class="icon-dif"><i class="bi bi-three-dots"></i></div>
                        </div>
                    </div>
                    <div class="card-play-list">
                        <p class="card-text">Va vào những giai điệu thư giản của V-Pop</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card play-list">
                    <div class="card-img">
                        <img src="../../static/img/ms6.webp" class="card-img-top" alt="Sunset Over the Sea" />
                        <div class="icon">
                            <div class="icon-play"><i class="bi bi-play-circle"></i></div>
                            <div class="icon-heart"><i class="bi bi-heart"></i></div>
                            <div class="icon-dif"><i class="bi bi-three-dots"></i></div>
                        </div>
                    </div>
                    <div class="card-play-list">
                        <p class="card-text">Va vào những giai điệu thư giản của V-Pop</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="title mt-5">
            <p class="prf-name-title">About</p>
        </div>
    </div>
    <div class="about ms-5">
        <img src="../../static/img/ms6.webp" alt="">
        <div class="text-about">
            <p>1,000,432</p>
            <p>hi i'm W/n,, W/n là một ##### , ***** .... anh được mọi người biết đến qua các bài hát của mình như như 3
                1 0 7 , 3 1 0 7 2 , , crush , crush 2 ..... Cho đến bây giờ những thông tin thêm về W/n vẫn chưa được
                tiết lộ</p>
            <p>Contact my manager : info@riox.network</p>
        </div>
    </div>
</body>