<body ng-controller="profileCtrl">
    <div class="container-fluid m-0 p-0">
        <div class="background-in4">
            <img src="{{profile.backgroundImage !==null ? profile.backgroundImage.url : 'https://res.cloudinary.com/div9ldpou/image/upload/v1696341682/Background/System/ilikeU_bgvlyy.png'}}"
                class="w-100" style="height: 350px; object-fit: cover;" alt="">
            <div class="in4-card">
                <div class="in4-text">
                    <p><i style="color: rgb(69, 69, 230);" class="bi bi-patch-check-fill"></i> Verified Artist</p>
                    <p class="display-1 text-bold fw-bolder">{{profile.artistName}}</p>
                    <p>1,000,431 monthly listeners</p>
                </div>
            </div>
            <div class="flow align-items-center">
                <button id="btn-artist-play" class="btn border-0">
                    <i class="display-3 bi bi-play-circle" style="color: green;"></i>
                </button>
                <button id="btn-artist-pause" hidden class="btn border-0">
                    <i class="display-3 bi bi-pause-circle" style="color: green;"></i>
                </button>
                <button id="btn-artist-shuffle" class="btn text-white border-0 py-0"><i
                        class="display-6 bi bi-shuffle"></i></button>
                <button class="btn border-1 border-white rounded-pill text-white mx-3 h-50" id="btn-follow">
                    Follow</button>
                <div class="dropdown">
                    <button type="button" class="btn border-0" data-bs-toggle="dropdown">
                        <div class="in"><i class="text-white bi bi-three-dots"></i></div>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Report</a></li>
                        <li><a class="dropdown-item" href="#">Copy link to profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="popular-list container-fluid">
        <div class="title mt-3">
            <p class="prf-name-title">Popular</p>
        </div>
        <div class="container-fluid">
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <!-- <div class="dot"><i class="bi bi-three-dots"></i></div> -->
                <div class="dropdown dot">
                    <div id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-three-dots"></i></div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <p>Like</p>
                        <p>Block</p>
                    </ul>
                </div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
            <div class="list-popular mt-3">
                <div class="stt">1</div>
                <div class="icon-play-list"><i class="bi bi-play-fill"></i></div>
                <div class="img-play"><img src="../../static/img/t4.webp" alt=""></div>
                <div class="name-play">id 072019</div>
                <div class="listens">9,999,999</div>
                <div class="icon-like"><i class="bi bi-suit-heart"></i></div>
                <div class="time-play">4:31</div>
                <div class="dot"><i class="bi bi-three-dots"></i></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="title tile-playlist-profile mt-5">
            <p class="prf-name-title">About</p>
            <a href="#!discography/{{profile.artistId}}"><p class="show-all-playlist-profile">Show All</p></a>
        </div>
    </div>
    <div class="container my-5">
        <div class="card-tt-profile card" id="myCard" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <img src="{{profile.imagesProfile.url}}" alt="">
            <div class="title-profile-card">
                <p>1,000,432 monthy listeners</p>
                <p>{{profile.bio}}</p>
                <p>Contact my manager : info@riox.network</p>
            </div>
        </div>
    </div>


    <div class="modal modal-detail-artist" id="staticBackdrop">
        <div class="modal-dialog modal-lg">
            <div class="modal-content detail-profile">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                <div class="modal-body modal-body-detail-artist">
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img style="height: 400px; object-fit: cover;" src="{{profile.imagesGallery[0]}}" alt="Los Angeles" class="d-block w-100">
                            </div>
                            <div ng-if="$index > 0" ng-repeat="item in profile.imagesGallery" class="carousel-item">
                                <img style="height: 400px; object-fit: cover;" src="{{item}}" alt="Chicago" class="d-block w-100">
                              </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <p style="font-size: 30px;">745,703</p>
                            <p>Followers</p>
                            <p style="font-size: 30px;">1,0000,000</p>
                            <p>Monthly Listener</p>
                        </div>
                        <div class="col-sm-8">
                            <p>1,000,432 Monthly Listener</p>
                            <p>{{profile.bio}}</p>
                            <p>Contact my manager : info@riox.network</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</body>