<body ng-controller="queueCtrl">
    <div>
        <h4>Queue</h4>
        <section>
            <table class="table">
                <thead>
                    <th class="text-white-50" colspan="4">Now playing</th>
                </thead>
                <tbody>
                    <tr ng-dblclick="selectAudio(item,'song',listPlay,$index)"
                        ng-repeat="item in listPlay | limitTo: 1" class="audio">
                        <!-- Col 1 -->
                        <td class="text-white">
                            {{$index+1}}
                        </td>
                        <!-- Col 2 -->
                        <td ng-if="item.recordingId">
                            <div class="d-flex">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.song.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.recordingName}}</h6>
                                        <span class="small text-white"
                                            ng-repeat="a in item.song.writters">{{a.artist.artistName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-if="item.episodeId">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.episodeTitle}}</h6>
                                        <span class="small text-white">{{item.podcast.authorName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
    
                        <!-- Col 3 -->
                        <td>
                            <h6 class="p-0 m-0 text-white">{{item.tracks[0].album.albumName}}</h6>
                            <h6 class="p-0 m-0 text-white">{{item.podcast.podcastName}}</h6>
                        </td>
    
                        <!-- Col 4 -->
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button ng-click="checkExisted(item,$event)" class="btn border-0 playlist-liked text-white">
                                    <i ng-style="{'color': isLiked(item) ? 'green' : 'white'}"
                                        class="{{isLiked(item) ? 'bi bi-heart-fill' : 'bi bi-heart'}}"></i>
                                </button>
                                <h6 class="p-0 m-0 text-white"><format-time seconds="item.duration"></format-time></h6>
                                <button ng-click="enqueue(item)" class="btn border-0 text-white"><i
                                        class="bi bi-three-dots"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <section>
            <table ng-if="queue.length > 0" class="mt-5 table" style="background-color: transparent;">
                <thead>
                    <th class="text-white-50" colspan="4">Next in queue</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in queue track by $index" class="audio">
                        <!-- Col 1 -->
                        <td class="text-white">
                            {{$index+1}}
                        </td>
                        <!-- Col 2 -->
                        <td>
                            <div class="d-flex">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3"
                                        src="{{item.recordingId ? item.song.image.url : item.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.recordingId ? item.recordingName :
                                            item.episodeTitle}}</h6>
                                        <span class="small text-white"
                                            ng-repeat="a in item.song.writters">{{a.artist.artistName}}</span>
                                        <span class="small text-white">{{item.podcast.authorName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <!-- Col 3 -->
                        <td>
                            <h6 ng-show="item.tracks.length === 0" class="p-0 m-0 text-white">{{item.recordingName}}</h6>
                            <h6 ng-show="item.tracks.length > 0" class="p-0 m-0 text-white">
                                {{item.tracks[0].album.albumName}}
                            </h6>
                            <h6 class="p-0 m-0 text-white">{{item.podcast.podcastName}}</h6>
                        </td>
    
                        <!-- Col 4 -->
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button ng-click="checkExisted(item,$event)" class="btn border-0 playlist-liked text-white">
                                    <i ng-style="{'color': isLiked(item) ? 'green' : 'white'}"
                                        class="{{isLiked(item) ? 'bi bi-heart-fill' : 'bi bi-heart'}}"></i>
                                </button>
                                <h6 class="p-0 m-0 text-white"><format-time seconds="item.duration"></format-time></h6>
                                <button class="btn border-0 text-white"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <table class="table">
                <thead>
                    <th class="text-white-50" colspan="4">Next</th>
                </thead>
                <tbody>
                    <tr ng-if="$index > currentIndex" ng-dblclick="selectAudio(item,'song',listPlay,$index)"
                        ng-repeat="item in listPlay track by $index" class="audio">
                        <!-- Col 1 -->
                        <td class="text-white">
                            {{$index}}
                        </td>
                        <!-- Col 2 -->
                        <td ng-if="item.recordingId">
                            <div class="d-flex">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.song.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.recordingName}}</h6>
                                        <span class="small text-white"
                                            ng-repeat="a in item.song.writters">{{a.artist.artistName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-if="item.episodeId">
                            <div class="d-flex align-items-center">
                                <div class="d-flex">
                                    <img class="rounded-2 mx-3" src="{{item.image.url}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="">
                                    <div>
                                        <h6 class="text-white">{{item.episodeTitle}}</h6>
                                        <span class="small text-white">{{item.podcast.authorName}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
    
                        <!-- Col 3 -->
                        <td>
                            <h6 class="p-0 m-0 text-white">{{item.tracks[0].album.albumName}}</h6>
                            <h6 class="p-0 m-0 text-white">{{item.podcast.podcastName}}</h6>
                        </td>
    
                        <!-- Col 4 -->
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button ng-click="checkExisted(item,$event)" class="btn border-0 playlist-liked text-white">
                                    <i ng-style="{'color': isLiked(item) ? 'green' : 'white'}"
                                        class="{{isLiked(item) ? 'bi bi-heart-fill' : 'bi bi-heart'}}"></i>
                                </button>
                                <h6 class="p-0 m-0 text-white"><format-time seconds="item.duration"></format-time></h6>
                                <button ng-click="enqueue(item)" class="btn border-0 text-white"><i
                                        class="bi bi-three-dots"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>