<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhymthwave - Premium</title>
    <link rel="icon" type="image/x-icon" href="../../static/img/favicon.png">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/spotify-premium.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body ng-app="myApp" ng-controller="subscriptionCtrl">
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="pr-logo navbar-brand" href="#" alt="Avatar Logo" class="rounded-pill">
                    <img src="../../static/img/logo.png" alt="">
                </a>
                <button class="pr-nav-btn-options navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="pr-nav-options collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Premium</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Download</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">Profile</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li><a class="dropdown-item" href="#">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="container col-5">
            <div class="mt-5">
                <div class="d-flex justify-content-between">
                    <h5>You chose</h5>
                    <a href="">Change plan</a>
                </div>
                <div class="card shadow">
                    <div class="card-header d-flex flex-column">
                        <h6>Subscription name</h6>
                        <p>1 account</p>
                    </div>
                    <div class="card-body ">
                        <span class="small">
                            Terms and conditions apply. Open only to users who haven’t already tried Premium.
                            <div class="d-flex justify-content-between">
                                <h6>Start billing date</h6>
                                <h6>Date</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6>End billing date</h6>
                                <h6>Date</h6>
                            </div>
                            <div>
                                <ul class="p-3">
                                    <li>Cancel anytime.</li>
                                    <li>We'll remind you 7 days before you get charged.</li>
                                </ul>
                            </div>
                        </span>

                    </div>
                </div>
            </div>

            <div class="mt-5">
                <h5>Subscribe</h5>
                <span>Auto-renews monthly; cancel anytime.</span>
                <div class="border shadow rounded-2 p-3">
                    <div data-bs-toggle="collapse" data-bs-target="#auto">
                        <span class="badge bg-success">1 monthly</span>
                        <h5>Subscribe with credit card or wallet</h5>
                        <p>59,000₫/month after offer period</p>
                    </div>
                    <div id="auto" class="collapse">
                        <div class="d-flex border">
                            <div>
                                <input type="radio" name="payment">
                            </div>
                            <div>
                                <p>VNPAY</p>
                            </div>
                        </div>
                        <div class="border">
                            <div class="d-flex">
                                <input type="radio" name="payment">
                                <p class="p-0 m-0">Paypal</p>
                            </div>
                            <!-- <div>
                                <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
                                <div id="paypal-button-container"></div>
                            </div> -->
                            <div>
                                <button class="btn w-100 border" id="btn-payment-paypal"><i
                                        class="display-6 i bi-paypal"></i></button>
                            </div>
                        </div>
                        <div class="d-flex border">
                            <div>
                                <input type="radio" name="payment">
                            </div>
                            <div>
                                <p>Stripe</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="mt-5">
                <h5>One-time Payment</h5>
                <span>Top up when you want. Does not auto-renew..</span>
                <div class="border rounded-2">
                    <div class="p-3">
                        <div data-bs-toggle="collapse" data-bs-target="#none-auto-1">
                            <span class="badge bg-success">1 monthly</span>
                            <h5>Subscribe with credit card or wallet</h5>
                            <p>59,000₫/month after offer period</p>
                        </div>
                        <div id="none-auto-1" class="collapse">
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>VNPAY</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Paypal</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Stripe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="p-3">
                        <div data-bs-toggle="collapse" data-bs-target="#none-auto-2">
                            <span class="badge bg-success">1 monthly</span>
                            <h5>Subscribe with credit card or wallet</h5>
                            <p>59,000₫/month after offer period</p>
                        </div>
                        <div id="none-auto-2" class="collapse">
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>VNPAY</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Paypal</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Stripe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="p-3">
                        <div data-bs-toggle="collapse" data-bs-target="#none-auto-3">
                            <span class="badge bg-success">1 monthly</span>
                            <h5>Subscribe with credit card or wallet</h5>
                            <p>59,000₫/month after offer period</p>
                        </div>
                        <div id="none-auto-3" class="collapse">
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>VNPAY</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Paypal</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Stripe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="p-3">
                        <div data-bs-toggle="collapse" data-bs-target="#none-auto-4">
                            <span class="badge bg-success">1 monthly</span>
                            <h5>Subscribe with credit card or wallet</h5>
                            <p>59,000₫/month after offer period</p>
                        </div>
                        <div id="none-auto-4" class="collapse">
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>VNPAY</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Paypal</p>
                                </div>
                            </div>
                            <div class="d-flex border">
                                <div>
                                    <input type="radio">
                                </div>
                                <div>
                                    <p>Stripe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

        <!-- Footer -->
        <footer class="text-center text-lg-start bg-white text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Right -->
                <div>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3 text-secondary"></i>Company name
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer content. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Products
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Angular</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">React</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Vue</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Laravel</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Pricing</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Settings</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Orders</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
                            <p>
                                <i class="fas fa-envelope me-3 text-secondary"></i>
                                info@example.com
                            </p>
                            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
                            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="#">Rhymthwave</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <script src="../../static/js/angularjs/user/subscription.js"></script>
</body>

</html>