.profile {
    position: relative;
}

.bg-profile {
    height: 400px;
    object-fit: cover;
}

.name-artist {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
}

.total-listener {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.change-bg {
    position: absolute;
    top: 10%;
    right: 5%;
}

.nav {
    border: 0px;
}

.nav-link {
    border: 0px !important;
    color: black;
}

.nav-link:hover {
    color: black;
}

.nav-item:hover {
    border-radius: 10px;
}

.nav-link.active {
    border-bottom: 3px solid green !important;
}
.avatar{
    width: 150px;
    height: 150px;
}