<body ng-controller="episodeCtrl">
    <section class="container">
        <div class="row mt-5">
            <h3 class="mx-3">Episodes</h3>
            <div ng-repeat="item in listEpisodes">
                <div class="rounded-3 row border border-dark m-3">
                    <div class="col-2 my-3">
                        <a href="">
                            <img class="w-75 h-100" style="object-fit: cover;" src="{{item.image.url}}" alt="">
                        </a>
                    </div>
                    <div class="col-9 flex-fill my-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>{{item.episodeTitle}}</h6>
                            <div class="d-flex">
                                <p class="p-0 m-0 me-2">{{item.publishDate | date:'dd/MM/yyyy, hh:mm a'}}</p>
                                <button ng-click="detailEpisode(item.episodeId)" class="btn py-0 border-0" data-bs-toggle="modal" data-bs-target="#edit-episode">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                            </div>
                        </div>
                        <div></div>
                        <div id="des-{{item.episodeId}}" class="collapse">
                            {{item.description}}
                        </div>
                        <h6 data-bs-toggle="collapse" data-bs-target="#des-{{item.episodeId}}">Description</h6>
                        <div>
                            <audio controls class="w-100" src="{{item.fileUrl}}"></audio>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" ng-change="updateStatus(item.episodeId)" type="checkbox" id="mySwitch" ng-model="item.public" >
                                <input class="form-check-input bg-dark border-0" ng-change="updateStatus(item.episodeId)" type="checkbox" id="mySwitch" ng-model="item.public" ng-if="item.public === true" checked>
                                <label class="form-check-label" for="mySwitch">{{item.public === true ? 'Public' : 'Private'}}</label>
                            </div>
                            <div>
                                <button ng-click="detailEpisode(item.episodeId)" class="btn border-0" data-bs-toggle="modal" data-bs-target="#remove-episode"><i class="bi bi-trash3"></i></button>
                            </div>
                            <div class="modal fade" id="remove-episode">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                              
                                    <div class="modal-header">
                                        <h6>Do you want to remove episode?</h6>
                                      <button id="close-episode-remove" type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                              
                                    <div class="modal-body">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <img class="w-25 h-100" style="object-fit: cover;" src="{{episode.image.url}}" alt="">
                                            <h6>{{episode.episodeTitle}}</h6>
                                        </div>
                                    </div>
                              
                                    <div class="modal-footer">
                                      <button ng-click="removeEpisode()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Remove</button>
                                    </div>
                              
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="edit-episode">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <audio id="audio-change" controls class="w-100 me-5" src=""></audio>
                        <div>
                            <button id="change-file-audio" class="btn border-dark rounded-pill text-black">Change</button>
                            <input id="change-audio" type="file" hidden>
                        </div>
                    </div>
                    <div class="title mt-3">
                        <label for="">Episode title</label>
                        <input ng-model="episode.episodeTitle" class="form-control border-dark border-1 my-1 py-2"
                            type="text" name="" id="" placeholder="What do you want to call this episode?">
                    </div>
                    <div class="mt-3">
                        <label for="">Episode description</label>
                        <textarea ng-model="episode.description" class="form-control my-1 py-2" name="" id="" cols="30"
                            rows="10"></textarea>
                    </div>
                    <div class="mt-3">
                        <label for="">Publish date:</label>
                        <input ng-model="episode.publishDate" class="form-control my-1" type="datetime-local">
                    </div>
                    <div class="my-3">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="">
                                            <div class="d-flex align-items-center">
                                                <h3>Customize this episode</h3>
                                                <span class="mx-3">(Optional)</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Season number</td>
                                        <td colspan="2"><input ng-model="episode.sessionNumber"
                                                class="rounded-pill py-3 text-center" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Episode number</td>
                                        <td colspan="2"><input ng-model="episode.episodeNumber"
                                                class="rounded-pill py-3 text-center" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Episode type</td>
                                        <td colspan="2">
                                            <div class="d-flex">
                                                <div class="checkbox ">
                                                    <input ng-model="episode.episodeType" type="radio" name="type"
                                                        value="Full" id="" />
                                                    <div class="box">
                                                        <p class="my-0">Full</p>
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <input ng-model="episode.episodeType" type="radio" value="Trailer"
                                                        name="type" id="" />
                                                    <div class="box">
                                                        <p>Trailer</p>
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <input ng-model="episode.episodeType" type="radio" value="Bonus"
                                                        name="type" id="" />
                                                    <div class="box">
                                                        <p>Bonus</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Content</td>
                                        <td colspan="2">
                                            <div class="d-flex">
                                                <div class="checkbox">
                                                    <input ng-model="episode.content" type="radio" value="Clean"
                                                        name="content" id="" />
                                                    <div class="box">
                                                        <p>Clean</p>
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <input ng-model="episode.content" type="radio" value="Explicit"
                                                        name="content" id="" />
                                                    <div class="box">
                                                        <p>Explicit</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4 d-flex justify-content-between">
                            <img id="change-image-episode" class="ms-5 w-100 img-podcast"
                                src="{{episode.image.url}}"
                                alt="">
                            <input type="file" id="change-FileImage-episode" hidden>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="save-change-episode" class="btn border-dark rounded-pill px-5">Save</button>
                </div>

            </div>
        </div>
    </div>
</body>