<body ng-controller="analysisCtrl">
    <div class="container">
        <h1>Audience</h1>
        <div class="row">
            <div class="row">
                <div class="col-10">
                    <div class="d-flex align-items-center">
                        <h3>15.6K Listeners</h3>
                        <span class="mx-5"> ^ change since last month</span>
                    </div>
                    <p>9 SEP 2023 - 13 NOV 2023</p>
                </div>
                <div class="col-2 d-flex  align-items-center">
                    <button class="btn"><i class="bi bi-arrow-down-circle"></i></button>
                    <div class="dropdown">
                        <button type="button options" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            Last 1 week
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Last 1 month</a></li>
                            <li><a class="dropdown-item" href="#">Last 6 months</a></li>
                            <li><a class="dropdown-item" href="#">Last 1 years</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="tab-button-a nav-link active" onclick="openTabAudience(event, 'tab1-a')"
                                role="tab">Listeners</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="tab-button-a nav-link" onclick="openTabAudience(event, 'tab2-a')"
                                role="tab">Followers</button>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane tab-a show active" id="tab1-a">
                            <div>
                                <canvas id="chartListener"></canvas>
                            </div>
                        </div>
                        <div class="tab-pane  tab-a" id="tab2-a">
                            <div>
                                <canvas id="chartFollower"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <h3>Listeners' gender</h3>
                    <div>
                        <canvas id="gender"></canvas>
                    </div>
                </div>
                <div class="col-6 d-flex flex-column align-items-center justify-content-between">
                    <h3>Listeners' age</h3>
                    <div class="w-100">
                        <canvas id="age"></canvas>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h3>Listeners also like</h3>
                <div class="d-flex flex-wrap">
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                    <div class="listener d-flex flex-column align-items-center my-3">
                        <img src="../../static/img/ab1.webp" class="w-25 rounded-circle" alt="Cinque Terre">
                        <h6>Lilbaor</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <h3>Top contries</h3>
                <div class="col-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <span>Last 7 days</span>
                                </th>
                                <th>9/9 - 16/9</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <h6>United States</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <h6>Viet Nam</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <h6>Mexico</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <h6>Canada</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-8">
                    <div id="world"></div>
                </div>
            </div>
            <div class="row mt-5">
                <h3>Top cities</h3>
                <div class="col-6">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <span>Last 7 days</span>
                                </th>
                                <th>9/9 - 16/9</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <h6>United States</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <h6>Viet Nam</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <h6>Mexico</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <h6>Canada</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <span>Last 7 days</span>
                                </th>
                                <th>9/9 - 16/9</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <h6>United States</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <h6>Viet Nam</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <h6>Mexico</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <h6>Canada</h6>
                                </td>
                                <td>12,2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>