<!DOCTYPE html>
<html lang="en">
<head>

    
</head>
<body ng-controller="profileArtistCtrl">
    <div class="profile">
        <img class="w-100 bg-profile background" ng-src="{{artist.backgroundImage ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696341682/Background/System/ilikeU_bgvlyy.png':artist.backgroundImage.url}}" alt="">
        <div class="change-bg">
            <button ng-click="selectFile('background')" class="btn "><i class="bi bi-pencil-fill text-white"></i></button>
            <input id="background" type="file" hidden>
        </div>
        <div class="m-0 name-artist d-flex align-items-center">
            <div>
                <img ng-click="selectFile('avatar')" class="border rounded-circle avatar" ng-src="{{artist.imagesProfile ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696293833/Avatar/System/807831_rrsd2v.png':artist.imagesProfile.url}}" alt="">
                <input id="avatar" type="file" hidden>
            </div>
            <div class="mx-3">
                <h6 class="m-0 ">ARTIST</h6>
                <h1 class="m-0 ">{{artist.artistName}}</h1>
            </div>
        </div>
        <div class="total-listener text-white">
            <h6>Listeners</h6>
            <p>264489498</p>
        </div> 
    </div>
    <section class="container-fluid">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                      class="tab-button-p nav-link active"
                      onclick="openTabProfile(event, 'tab1-p')"
                      role="tab"
                      >Overview</button
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="tab-button-p nav-link"
                      onclick="openTabProfile(event, 'tab2-p')"
                      role="tab"
                      >About</button
                    >
                  </li>               
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-p tab-pane active" id="tab1-p" >
                    <div class="row">
                        <div class="col-7">
                            <div class="popular">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4>Your top songs</h4>
                                            </th>
                                            <th>streams</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-items-center">
                                            <td class="d-flex align-items-center">
                                                <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                <h6>Listeners</h6>
                                            </td>
                                            <td class="text-center">12,2023</td>
                                        </tr>
                                        <tr class="align-items-center">
                                            <td class="d-flex align-items-center">
                                                <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                <h6>Listeners</h6>
                                            </td>
                                            <td class="text-center">12,2023</td>
                                        </tr>
                                        <tr class="align-items-center">
                                            <td class="d-flex align-items-center">
                                                <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                <h6>Listeners</h6>
                                            </td>
                                            <td class="text-center">12,2023</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Albums">

                            </div>
                            <div class="playlist">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Artist Playlists</h5>
                                    <button class="btn modifyPlaylist" data-bs-toggle="collapse"
                                        data-bs-target="#artist-playlist"><i class="bi bi-pencil"></i></button>
                                </div>
                                <div id="artist-playlist" class="collapse">
                                    <div class="d-flex align-items-center">
                                        <img src="../../static/img/cs1.webp" alt="">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn">Save</button>
                                    </div>
                                </div>
                                <div>
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="align-items-center">
                                                <td class="d-flex align-items-center">
                                                    <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                    <h6>Listeners</h6>
                                                </td>
                                                <td class="text-center"><button
                                                        class="remove-playlist-artist btn"></button></td>
                                            </tr>
                                            <tr class="align-items-center">
                                                <td class="d-flex align-items-center">
                                                    <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                    <h6>Listeners</h6>
                                                </td>
                                                <td class="text-center"><button
                                                        class="remove-playlist-artist btn"></button></td>
                                            </tr>
                                            <tr class="align-items-center">
                                                <td class="d-flex align-items-center">
                                                    <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                    <h6>Listeners</h6>
                                                </td>
                                                <td class="text-center"><button
                                                        class="remove-playlist-artist btn"></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">

                        </div>
                    </div>
                </div>
                <div class="tab-p tab-pane" id="tab2-p" >
                    <div class="row">
                        <div class="col-7">
                            <div>
                                <h3>Image gallery</h3>
                                <div>
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div>
                                <h3>Bio</h3>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="col-5">
                            <h3>More infor</h3>
                            <div class="d-flex flex-column">
                                <a href=""><i class="bi bi-instagram"></i> Instagram</a>
                                <a href=""><i class="bi bi-twitter"></i> Twitter</a>
                                <a href=""><i class="bi bi-facebook"></i> Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>

</html>