<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body ng-controller="profileArtistCtrl">
    <div class="profile">
        <img class="w-100 bg-profile background" data-bs-toggle="modal" data-bs-target="#detailImg"
            ng-click="processImage('see-background')"
            ng-src="{{artist.backgroundImage ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696341682/Background/System/ilikeU_bgvlyy.png':artist.backgroundImage.url}}"
            alt="">
        <div class="change-bg">
            <button class="btn" id="modified-background"><i class="bi bi-pencil-fill text-white"></i></button>
            <input id="background" type="file" hidden>
        </div>
        <div class="m-0 name-artist d-flex align-items-center">
            <div class="dropdown">
                <button type="button" class="btn border-0" data-bs-toggle="dropdown">
                    <img id="modified-avatar" class="border rounded-circle avatar"
                        ng-src="{{artist.imagesProfile ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696293833/Avatar/System/807831_rrsd2v.png':artist.imagesProfile.url}}"
                        alt="">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" class="btn" data-bs-toggle="modal" data-bs-target="#detailImg"
                            ng-click="processImage('see-avatar')">See profile picture</a></li>
                    <li><a class="dropdown-item" class="btn" data-bs-toggle="modal" data-bs-target="#detailImg"
                            ng-click="processImage('select-avatar')">Select profile picture</a>
                    </li>
                    <li><a id="remove-current-image" class="dropdown-item">Revove current photo</a></li>
                </ul>
            </div>
            <div class="mx-3">
                <h6 class="m-0 ">ARTIST</h6>
                <h1 class="m-0 ">{{artist.artistName}}</h1>
            </div>
        </div>
        <div class="total-listener text-white">
            <h6>Listeners</h6>
            <p>264489498</p>
        </div>

    </div>
    <section class="container-fluid">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="tab-button-p nav-link active" onclick="openTabProfile(event, 'tab1-p')"
                        role="tab">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="tab-button-p nav-link" onclick="openTabProfile(event, 'tab2-p')"
                        role="tab">About</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-p tab-pane active" id="tab1-p">
                    <div class="row">
                        <div class="col-7">
                            <div class="popular">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h4>Your top songs</h4>
                                            </th>
                                            <th>streams</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="align-items-center">
                                            <td class="d-flex align-items-center">
                                                <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                <h6>Listeners</h6>
                                            </td>
                                            <td class="text-center">12,2023</td>
                                        </tr>
                                        <tr class="align-items-center">
                                            <td class="d-flex align-items-center">
                                                <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                <h6>Listeners</h6>
                                            </td>
                                            <td class="text-center">12,2023</td>
                                        </tr>
                                        <tr class="align-items-center">
                                            <td class="d-flex align-items-center">
                                                <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                <h6>Listeners</h6>
                                            </td>
                                            <td class="text-center">12,2023</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="Albums">

                            </div>
                            <div class="playlist">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Artist Playlists</h5>
                                    <button class="btn modifyPlaylist" data-bs-toggle="collapse"
                                        data-bs-target="#artist-playlist"><i class="bi bi-pencil"></i></button>
                                </div>
                                <div id="artist-playlist" class="collapse">
                                    <div class="d-flex align-items-center">
                                        <img src="../../static/img/cs1.webp" alt="">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn">Save</button>
                                    </div>
                                </div>
                                <div>
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr class="align-items-center">
                                                <td class="d-flex align-items-center">
                                                    <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                    <h6>Listeners</h6>
                                                </td>
                                                <td class="text-center"><button
                                                        class="remove-playlist-artist btn"></button></td>
                                            </tr>
                                            <tr class="align-items-center">
                                                <td class="d-flex align-items-center">
                                                    <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                    <h6>Listeners</h6>
                                                </td>
                                                <td class="text-center"><button
                                                        class="remove-playlist-artist btn"></button></td>
                                            </tr>
                                            <tr class="align-items-center">
                                                <td class="d-flex align-items-center">
                                                    <img class="w-25" src="../../static/img/cs1.webp" alt="">
                                                    <h6>Listeners</h6>
                                                </td>
                                                <td class="text-center"><button
                                                        class="remove-playlist-artist btn"></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">

                        </div>
                    </div>
                </div>
                <div class="tab-p tab-pane" id="tab2-p">
                    <div class="row">
                        <div class="col-7">
                            <div>
                                <h3>Image gallery</h3>
                                <div>
                                    <img src="" alt="">
                                    <button id="upload-galllery" class="btn border px-5"><h1 class="display-1">+</h1></button>
                                    <input id="galllery" hidden type="file" multiple>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h3>Bio</h3>
                                    <button class="btn" id="modified-bio"><i class="bi bi-pencil-fill text-black"></i></button>
                                </div>
                                <textarea id="bio" readonly ng-model="artist.bio" class="border-0 w-100 h-100" rows="20" name="" id="">
                                    
                                </textarea>
                            </div>
                        </div>
                        <div class="col-5">
                            <h3>More infor</h3>
                            <div class="d-flex flex-column">
                                <a href=""><i class="bi bi-instagram"></i> Instagram</a>
                                <a href=""><i class="bi bi-twitter"></i> Twitter</a>
                                <a href=""><i class="bi bi-facebook"></i> Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="detailImg">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div ng-if="typeModifiedPicture === 'select-avatar'">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <div ng-if="typeModifiedPicture === 'see-avatar'">
                        <img class="select-image"
                            ng-src="{{artist.imagesProfile ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696293833/Avatar/System/807831_rrsd2v.png':artist.imagesProfile.url}}"
                            alt="">
                    </div>
                    <div ng-if="typeModifiedPicture === 'see-background'">
                        <img  class="w-100 "
                            ng-src="{{artist.backgroundImage ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696341682/Background/System/ilikeU_bgvlyy.png':artist.backgroundImage.url}}"
                            alt="">
                        
                    </div>
                    <div ng-if="typeModifiedPicture === 'select-avatar'">
                        <img ng-click="selectFile('profile-picture')" class="select-image profile-picture"
                            ng-src="{{artist.imagesProfile ==null ? 'https://res.cloudinary.com/div9ldpou/image/upload/v1696293833/Avatar/System/807831_rrsd2v.png':artist.imagesProfile.url}}"
                            alt="">
                        <input id="profile-picture" type="file" hidden>
                    </div>

                </div>
                <div ng-if="typeModifiedPicture === 'select-avatar' || typeModifiedPicture === 'see-background'">
                    <div class="modal-footer">
                        <button ng-if="typeModifiedPicture === 'select-avatar'" type="button" id="save-image" class="btn btn-danger" data-bs-dismiss="modal">Save</button>
                        <button ng-if="typeModifiedPicture === 'see-background'" type="button" id="remove-current-background" class="btn btn-danger" data-bs-dismiss="modal">remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>